<div class="nav-format">
	<label for="<%= id %>"><%= caption %></label>
	<ul id="<%= id %>">
		<li onclick="fontBold(this, '<%= target %>', '<%= tag %>')" style="font-weight: 700">B</li>
		<li onclick="fontItalic(this, '<%= target %>', '<%= tag %>')" style="font-style: italic">I</li>
		<li onclick="fontUnderline(this, '<%= target %>', '<%= tag %>')" style="text-decoration: underline">U</li>
		<li onclick="fontSmallCaps(this, '<%= target %>', '<%= tag %>')">S</li>
	</ul>
</div>