<div><%= raw caption %></div>
<img id="<%= id %>" width="200" height="50" autocomplete="off">
<input type="file" name="<%= name %>" accept="image/*" onchange="previewImage(event, '<%= id %>', '<%= target %>')" class="custom-file-input" autocomplete="off">
<button class="button">Upload</button>