<div><%= raw caption %></div>
<img id="<%= id %>" width="200" height="50" autocomplete="off" class="img-section">
<input type="file" name="<%= name %>" accept="image/*" onchange="previewImage(event, '<%= id %>', '<%= target %>')" autocomplete="off">
<button class="button">Upload</button>