<div class="top-strip">
	<p style="margin-right: 150px;">
		IMPORTANT: Your changes are not saved until you click here.
	</p>
	<button class="button save-changes">
		Save Changes
	</button>
</div>
<section class="main">
  	<!-- START control panel -->
	<section class="left-container">
		<!-- START logi -->
		<div class="edit-logo">
			<div><b>Logo</b> (200px x 50px)</div>
			<input type="file" accept="image/*" class="custom-file-input">
			<button class="button">Upload</button>
		</div>
		<!-- END logi -->

		<!-- START navigation menu -->
		<div class="edit-navigation">
			<div><b>Navigation Menu</b></div>
			<%= render 'shared/background_color', caption: 'Background Color', id: 'nv-bg', target: 'editor-navigation', color: '' %>
			<%= render 'shared/text_color', caption: 'Link Color', id: 'nv-co', target: 'editor-navigation', color: '', tag: 'a' %>
			<%= render 'shared/font_family', caption: 'Font', id: 'nv-fo', target: 'editor-navigation', family: '', tag: 'a' %>
			<%= render 'shared/font_style', caption: 'Formatting', id: 'nv-fs', target: 'editor-navigation', style: '', tag: 'a' %>
		</div>
		<!-- END navigation menu -->

		<!-- START main banner -->
		<div class="edit-mainBanner">
			<div><b>Main Banner</b> (800px x 400px)</div>
			<input type="file" accept="image/*" class="custom-file-input">
			<button class="button">Upload</button>
		</div>
		<!-- END main banner -->

		<!-- START heading -->
		<div class="edit-heading">
			<div><b>Heading</b></div>
			<%= render 'shared/text_color', caption: 'Text Color', id: 'hd-co', target: 'hd-content', color: '', tag: nil %>
			<%= render 'shared/font_size', caption: 'Font-Size', id: 'hd-fz', target: 'hd-content', size: '' %>
			<%= render 'shared/font_family', caption: 'Font', id: 'hd-fo', target: 'hd-content', family: '', tag: nil %>
		</div>
		<!-- END heading -->

		<!-- START content -->
		<div class="edit-heading">
			<div><b>Paragraph Text</b></div>
			<%= render 'shared/text_color', caption: 'Text Color', id: 'pa-co', target: 'pa-content', color: '', tag: nil %>
			<%= render 'shared/font_size', caption: 'Font-Size', id: 'pa-fz', target: 'pa-content', size: '' %>
			<%= render 'shared/font_family', caption: 'Font', id: 'pa-fo', target: 'pa-content', family: '', tag: nil %>
			<%= render 'shared/font_style', caption: 'Formatting', id: 'pa-fs', target: 'pa-content', style: '', tag: nil %>
		</div>
		<!-- END content -->

		<!-- START background -->
		<div class="edit-heading">
			<div><b>Page Background</b></div>
			<%= render 'shared/background_color', caption: 'Background Color', id: 'pg-bg', target: 'editor-content', color: '' %>
		</div>
		<!-- END background -->

		<!-- START footer -->
		<div class="edit-heading">
			<div><b>Footer</b></div>
			<%= render 'shared/text_color', caption: 'Text Color', id: 'ft-co', target: 'editor-footer', color: '', tag: nil %>
			<%= render 'shared/background_color', caption: 'Background Color', id: 'ft-bg', target: 'editor-footer', color: '' %>
		</div>
		<!-- END footer -->
	</section>
	<!-- START control panel -->


	<!-- START template -->
	<section class="right-container" id='editor-content'>
		<!-- START logo section -->
		<div class="logo">
			<div class="logo__image">
			<div>Logo Image</div>
				<img src="" alt="" class="rimg" />
			</div>
		</div>
		<!-- END logo section -->

		<!-- START navigation section -->
		<nav class="nav" id='editor-navigation'>
			<%= link_to 'Link 1', 'javascript:void(0)' %>
			<%= link_to 'Link 2', 'javascript:void(0)' %>
			<%= link_to 'Link 3', 'javascript:void(0)' %>
		</nav>
		<!-- END navigation section -->

		<!-- START main banner section -->
		<div class="banner">
			<div class="banner__image">
			<div>Main Banner</div>
				<img src="" alt="" class="rimg" />
			</div>
		</div>
		<!-- END main banner section -->

		<!-- START heading section -->
		<div class="main-heading" id="hd-content">This is the Main Heading</div>
		<!-- END heading section -->

		<!-- START paragraph section -->
		<div class="paragraph-content" id='pa-content'>
			This is Paragraph text. You can format it the way you like. This is a paragraph text. You can format it the way you like. This is Paragraph text. You can format it the way you like. This is a paragraph text. You can format it the way you like. This is Paragraph text. You can format it the way you like. This is a paragraph text. You can format it the way you like. This is Paragraph text. You can format it the way you like. This is a paragraph text. You can format it the way you like. This is Paragraph text. You can format it the way you like. This is a paragraph text. You can format it the way you like.
		</div>
		<!-- END paragraph section -->

		<!-- START footer section -->
		<footer class="footer" id="editor-footer">
			This is Footer Text
		</footer>
		<!-- END footer section -->
	</section>
	<!-- END template -->
</section>



<!-- <div style="border-style: ridge;" id='body'>

	<h1>Editors#index</h1>

	<h4>Background Color</h4>
	 <input type="color" name="bgColor" oninput="backgroundColor(this, 'body')" value="#FFFFFF" autocomplete="off">

	<div id='header' style="border-style: dotted;">
		Header
		<h4>Background Color</h4>
		 <input type="color" name="bgColor" oninput="backgroundColor(this, 'header')" value="#FFFFFF" autocomplete="off">
		<h4>Text Color</h4>
		<input type="color" name="textColor" oninput="textColor(this, 'header')" value="#000000" autocomplete="off">
		this is heder
	</div>

	<div id='content' style="border-style: solid;">
		Content
		<h4>Text Color</h4>
		<input type="color" name="textColor" oninput="textColor(this, 'content')" value="#000000" autocomplete="off">

		<select name="fontSize" onchange="fontSize(this, 'content')" autocomplete="off">
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		</select>

		<select name="fontFamily" onchange="fontFamily(this, 'content')" autocomplete="off">
			<option value="" disabled selected></option>
			<option value="Georgia, serif">Georgia, serif</option>
			<option value="sans-serif">sans-serif</option>
			<option value="fantasy">fantasy</option>
			<option value="ui-sans-serif">ui-sans-serif</option>
			<option value="Arial Narrow">Arial Narrow</option>
		</select>

		This is content. this is like paragraph
	</div>


	<div id='footer' style="border-style: double;">
		Footer
		<select name="fontSize" onchange="fontSize(this, 'footer')" autocomplete="off">
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		</select>

		<h4>Background Color</h4>
		 <input type="color" name="bgColor" oninput="backgroundColor(this, 'footer')" value="#FFFFFF" autocomplete="off">
		<h4>Text Color</h4>
		<input type="color" name="textColor" oninput="textColor(this, 'footer')" value="#000000" autocomplete="off">
		this is footer

	</div>


	<h4>Logo</h4>
	<img id="logo-ctr" width="200" height="50" autocomplete="off">
	<img id="logo-cmp" width="200" height="50" autocomplete="off">
	<input type="file" accept="image/*" onchange="previewImage(event, 'logo-ctr', 'logo-cmp')" name='logo' autocomplete="off">


	<h4>Banner</h4>
	<img id="banner-ctrl" width="200" height="50" autocomplete="off">
	<img id="banner-cmp" width="800" height="400" autocomplete="off">
	<input type="file" accept="image/*" onchange="previewImage(event, 'banner-ctrl', 'banner-cmp')" name='banner' autocomplete="off">

</div> -->